body {
 background-color: #f2f2f2;
}

/*NAV*/

.nav a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #474448;
}

.nav a:hover {
  color: #98FF98;
}
/*NAV*/

/*WORDMARK DIV*/
.fran {
  height: 100vh;
}

.franmark {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15em;
}
/*WORDMARK DIV END*/

/*ABOUT ME*/
.aboutme {
  background-color: #ddddff;
  min-height: 50vh;
  padding-bottom: 5em;
}

.blurb {
  padding-top: 3em;
  padding-right: 3em;
  padding-left: 3em;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.photome{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/*ABOUT ME END*/

/*PORTFOLIO*/
.portfolio {
  min-height: 100vh;
  padding: 2em;
}
/*PORTFOLIO END*/

/*FOOTER*/
footer {
  height: 50vh;
  background-color: #d6d6d6;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding-top: 2.5em;
}

.facebook, .linkedin, .instagram, .email {
  width: 10%;
}
/*FOOTER END*/

/*MEDIA QUERIES*/
@media only screen and (min-width: 400px) {

  .franmark {
    padding-top: 15em;
  }

  .photome{
    width: 100%;
  }

  .blurb {
    text-align: left;
    margin-top: 2em;
    padding: 2em;
  }

}

@media only screen and (min-width: 608px) {

  .franmark {
    padding-top: 11em;
  }

  .photome{
    width: 100%;
    margin-top: 7em;
  }

  .blurb {
    text-align: left;
    margin-top: 9em;
    margin-left: 17em;
    position: absolute;
  }

}

@media only screen and (min-width: 960px) {

  .franmark {
    padding-top: 10em;
  }

  .blurb {
    margin-top: 16em;
    margin-left: 24em;
  }

}

@media only screen and (min-width: 1440px) {

  .franmark {
    padding-top: 12em;
  }

  .blurb {
    margin-top: 23em;
    margin-left: 37em;
    padding-left: 5em;
    padding-right: 7em;
  }

  footer {
    padding-top: 3em;
  }

  .facebook, .linkedin, .instagram, .email {
    width: 5%;
  }

}
