/**/
html {
  overflow-x: hidden;
}

body {
 background-image:  url('../images/FranchescaMansourBackground.jpg');
 background-repeat:  no-repeat;
 background-size: cover;
 overflow-x: hidden;
}

.empty {
  display: none;
}

/*NAV*/

header {
  background-color: none;;
  position: absolute;
  z-index: 100;
  width: 100%;
}

.logo {
  padding: 0;
  margin: 0;
  width: 50%;
  margin-bottom: 1em;
}

.main-menu {
  text-align: center;
}

.nav a {
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  color: #474747;
}

.nav a:hover {
  color: #BB999C;
}
/*NAV*/


/*HERO*/

.starswhite {
  top:0;
  position: absolute;
  z-index: 2;
  animation: dancewhite 30s linear infinite;
}

.starspurple {
  bottom: 0;
  position: absolute;
  z-index: 2;
  animation: dance 20s linear infinite;
}

@keyframes dance {

  start {
    transform: translateX(-2em);
  }

  end {
    transform: translateX(-4em);
  }

}

@keyframes dance {

  0% {
    transform: translateX(0em);
  }

  40% {
    transform: translateX(-2em);
  }

  80% {
    transform: translateX(2em);
  }

  100% {
    transform: translateX(0em);
  }

}

@keyframes dancewhite {

  start {
    transform: translateX(-4em);
  }

  end {
    transform: translateX(-2em);
  }

}

@keyframes dancewhite {

  0% {
    transform: translateX(0em);
  }

  40% {
    transform: translateX(2em);
  }

  80% {
    transform: translateX(-2em);
  }

  100% {
    transform: translateX(0em);
  }

}

.hero {
  height: 100vh;
  padding: 10%;
  /*background-color: #250D29;*/
  background-image: url('../images/franbackk.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.ban {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro-1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: #BB999C;
  font-size: 32px;
  margin-bottom: 0;
}

.intro {
  font-family: 'Lato', sans-serif;
  color: #474747;
  font-weight: 400;
  font-size: 14px;
}

.name {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: #BB999C;
}

/*HERO END*/

/*PORTFOLIO*/
.portfolio {
  min-height: 100vh;
  background-color: #ececec;
}

.boxes {
  opacity: .5;
  filter: contrast(100%) grayscale(100%);
}

.boxes:hover {
  opacity: 1;
  filter: contrast(100%) grayscale(0%);
}
/*PORTFOLIO END*/

/*LIGHTBOX*/

.def{
  padding: 1.5em;
  text-align: justify;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: white;
}

.arrows {
  width: 10%;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height:100%;
  text-align: center;
}

.lightboxbg {
  top: 0;
  left: 0;
  background: rgba(71,71,71,0.9);
  position: fixed;
  z-index: 999;
  width: 100%;
  height:100%;
}

.lightboxcontent{
  z-index: 1000;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 645px;
}

.lightbox img {
  max-width: 90%;
  max-height: 80%;
  margin-top: 2%;
}

.lightbox:target {
  outline: none;
  display: block;
  min-height: 100%;
}

.lightbox a {
  font-family: 'Lato', sans-serif;
  color: #CD937C;
  font-weight: 300;
  text-decoration: none;
}

/*LIGHTBOX END*/

/*VIDEO*/
/*
.embed {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  width: 100%;
  z-index: 0;
}

.embed-16by9 {
  padding-top: 56.25%;
}

.embed-item {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
*/
/*VIDEO END*/

h1 {
  font-size: 36px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: #BB999C;
}
/*ABOUT ME*/

.aboutme {
    background-color: #474747;
    padding: 10%;
    padding-top: 20%;
}

.quote {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #BB999C;
}

.myself {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: right;
  margin-right: 5%;
  color: #BB999C;
}

.bracket {
  font-family: 'Abril Fatface', cursive;
}

.talk, .talk-1, .talk-2 {
  text-align: justify;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #999999;
}

.subtitle {
  font-family: 'Lato', sans-serif;
  color: #ececec;
  margin-bottom: .25em;
  text-align: left;
}

.iam {
  font-family: 'Quicksand', sans-serif;
  color: #ececec;
  font-weight: 400;
}
/*ABOUT ME END*/



/*FOOTER*/
footer {
  background-color: #474747;
}

footer p {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #ececec;
}

footer a{
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #ececec;
}

footer a:hover {
  color: #BB999C;
}

form {
  color: #ececec;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  width: 80%;
  display: inline-block;
  text-align: left;
}

form input, textarea{
  background-color: transparent;
  border-color: #BB999C;
}

.btn{
  background-color: transparent;
  color: #ececec;
  border-color: #ececec;
}

.btn:hover {
  color: white;
  background-color: transparent;
  border-color: #BB999C;
}
/*FOOTER END*/

/*MEDIA QUERIES*/
@media only screen and (min-width: 400px) {

  h1 {
    font-size: 48px;
  }

  .intro {
    font-size: 18px;
  }

}

@media only screen and (min-width: 608px) {

  .menu {
    text-align: right;
  }

  .logo {
    float: left;
    display: block;
    margin-left: 2em;
    width: 30%;
  }

  .intro-1 {
    font-size: 36px;
  }

  .intro {
    font-size: 20px;
    font-weight: 400;
  }

  .def{
    padding: 2em;
  }

  footer li {
  display: inline-block;
  padding: 2em;
  }

}

@media only screen and (min-width: 960px) {

  body{
     background-attachment: fixed;
  }

  .empty{
    height: 100vh;
    display: block;
  }

  h1 {
    font-size: 60px;
  }

  .def {
    font-size: 16px;
    font-weight: 300;
  }

  .intro-1 {
    font-size: 58px;
  }

  .intro {
    font-size: 33px;
    font-weight: 300;
  }

  .logo {
    width: 20%;
  }

  .aboutme {
    min-height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
  }

  .quote {
    margin-left: 5em;
    font-size: 30px;
    width: 70%;
  }

  .myself {
    margin-right: 15%;
  }


  .arrows {
    width: 5%;
  }

  form {
    width: 70%;
  }

  footer {
    height: 100vh;
  }

}

@media only screen and (min-width: 1440px) {

  .intro-1 {
    font-size: 85px;
  }

  .intro {
    font-size: 49px;
  }

  .quote {
    margin-left: 10.5em;
    font-size: 30px;
    width: 50%;
  }

  .myself {
    margin-right: 25%;
  }

  .aboutme {
    padding-bottom: 5%;
  }

  form{
    width: 60%;
  }

}
