/**/
html {
  overflow-x: hidden;
}

/*body {
 background-image:  url('../images/FranchescaMansourBackground.jpg');
 background-repeat:  no-repeat;
 background-size: cover;
 overflow-x: hidden;
}*/

.empty {
  display: none;
}

/*NAV*/

header {
  background-color: none;;
  position: absolute;
  z-index: 100;
  width: 100%;
}

.logo {
  padding: 0;
  margin: 0;
  width: 50%;
  margin-bottom: 1em;
}

.main-menu {
  text-align: center;
}

.nav a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: turquoise;
}

.nav a:hover {
  color: #005952;
}
/*NAV*/


/*HERO*/

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*.embed {
  margin-left: 0;
  margin-right: 0;
  position: fixed;
  width: 100%;
  z-index: -100;
}

.embed-16by9 {
  padding-top: 56.25%;
}

.embed-item {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
*/
/*.hero {
  height: 100vh;
  /*padding: 10%;
  /*background-color: #250D29;
  background-image: url('../images/franbackk.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}*/

/*.ban {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/

/*HERO END*/

/*PORTFOLIO*/
.portfolio {
  min-height: 100vh;
  background-color: #ececec;
}

.boxes {
  opacity: .5;
  filter: contrast(100%) grayscale(100%);
}

.boxes:hover {
  opacity: 1;
  filter: contrast(100%) grayscale(0%);
}
/*PORTFOLIO END*/

/*LIGHTBOX*/

.def {
  margin-top: 5%;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: white;
}

.arrows {
  width: 5%;
  margin-left: 5%;
  transform: translateX(-50%);
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height:100%;
  text-align: center;
}

.lightboxbg {
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  position: fixed;
  z-index: 999;
  width: 100%;
  height:100%;
}

.lightboxcontent{
  z-index: 1000;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 645px;
}

.lightbox img {
  max-width: 90%;
  max-height: 80%;
  margin-top: 2%;
}

.lightbox:target {
  outline: none;
  display: block;
  min-height: 100%;
}

.lightbox a {
  font-family: 'Lato', sans-serif;
  color: #CD937C;
  font-weight: 300;
  text-decoration: none;
}


/*ABOUT ME*/

h1 {
  font-size: 36px;
  font-family: 'Lato', sans-serif;
  color: turquoise;
}

.blurb{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
}

.aboutme {
    background-color: black;
    height: 50vh;
    position: relative;
}

.subtitle {
  font-family: 'Lato', sans-serif;
  color: #ececec;
  margin-bottom: .25em;
  text-align: left;
}

.iam {
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-weight: 200;
}
/*ABOUT ME END*/



/*FOOTER*/
footer {
  background-color: black;
}

footer p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: turquoise;
}

footer a{
  font-family: 'Quicksand', sans-serif;
  font-weight: 200;
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: turquoise;
}

form {
  color: turquoise;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  width: 80%;
  display: inline-block;
  text-align: left;
}

form input, textarea{
  background-color: transparent;
  border-color: rgba(0,89,82,.8);
}

.btn{
  background-color: transparent;
  color: #005952;
  border-color: #005952;
}

.btn:hover {
  color: turquoise;
  background-color: transparent;
  border-color: turquoise;
}
/*FOOTER END*/

/*MEDIA QUERIES*/
@media only screen and (min-width: 400px) {

  h1 {
    font-size: 48px;
  }

}

@media only screen and (min-width: 608px) {

  h1 {
    font-size: 80px;
  }


  .aboutme {
    height: 80vh;
  }

  .menu {
    text-align: right;
  }

  .logo {
    float: left;
    display: block;
    margin-left: 2em;
    width: 30%;
  }

  .intro-1 {
    font-size: 70px;
  }

  footer li {
  display: inline-block;
  padding: 2em;
  }

}

@media only screen and (min-width: 960px) {

  body{
     background-attachment: fixed;
  }

  .empty{
    height: 100vh;
    display: block;
  }

  h1 {
    font-size: 100px;
  }

  .intro-1 {
    font-size: 90px;
  }

  .logo {
    width: 20%;
  }

  .aboutme {
    min-height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
  }


  .arrows {
    width: 5%;
  }

  form {
    width: 70%;
  }

  footer {
    height: 100vh;
  }

}

@media only screen and (min-width: 1440px) {


  .iam {
    font-size: 24px;
  }

  h1 {
    font-size: 120px;
  }

  form{
    width: 60%;
  }

}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}
